extends ../layout/index
block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        div(class=" bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form(action="" class="space-y-8") 
                div(class="space-y-5")
                    h3(class="text-lg leading-6 font-medium text-gray-900") Información General
                    p(class=" text-gray-600") Añade información sobre la propiedad en venta

                    div    
                        label(class=" block text-sm uppercase text-gray-500 mb-3 font-bold " for="titulo") Titulo de anuncio
                        input(id="titulo" type="text" placeholder="Titulo de propiedad, ej. Casa en la playa" name="titulo" class=" w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400") 

                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
                        div(class="md:w-1/2")    
                            label(class=" block text-sm uppercase text-gray-500 mb-3 font-bold " for="categoria") Categoria
                            select(id="categoria" name="categoria" class=" w-full px-3 py-2 border border-gray-300 rounded-m")
                                option(value="")   -- Selecione --

                        div(class="md:w-1/2")    
                            label(class=" block text-sm uppercase text-gray-500 mb-3 font-bold " for="precio") Precio
                            select(id="precio" name="precio" class=" w-full px-3 py-2 border border-gray-300 rounded-m")
                                option(value="")   -- Selecione --

                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
                        div(class="md:w-1/3")    
                            label(class=" block text-sm uppercase text-gray-500 mb-3 font-bold " for="habitaciones") Habitaciones
                            select(id="habitaciones" name="habitaciones" class=" w-full px-3 py-2 border border-gray-300 rounded-m")
                                option(value="")   -- Selecione --
                                - for(let n = 1; n < 6; n++)
                                    option(value = n ) #{n} 

                        div(class="md:w-1/3")    
                            label(class=" block text-sm uppercase text-gray-500 mb-3 font-bold " for="estacionamiento") Estacionamiento
                            select(id="estacionamiento" name="estacionamiento" class=" w-full px-3 py-2 border border-gray-300 rounded-m")
                                option(value="")   -- Selecione --
                                - for(let n = 1; n < 5; n++)
                                    option(value = n ) #{n} 

                        div(class="md:w-1/3")    
                            label(class=" block text-sm uppercase text-gray-500 mb-3 font-bold " for="Baños") Baños
                            select(id="Baños" name="Baños" class=" w-full px-3 py-2 border border-gray-300 rounded-m")
                                option(value="")   -- Selecione --
                                - for(let n = 1; n < 5; n++)
                                    option(value = n ) #{n} 
                    
